workbench.preferredDarkColorThemebody {
    margin: 0;                  /* За да премахнем дефолтния маргин (отстояние отвън) и да го презапишем */
    font-family: sans-serif;    /* Сменя фона на страницата;к */
}

nav {
    background: #1F4266;      /* Цвят на навигацията */
    padding: 15px;              /* Да има малко отстояние отвътре (15 пиксела) */

    /* Не са нужни за зад-та. */
    /* margin: 0;                  Да няма разстояние */
    /* width: 80%;                 Задава дължината на контейнера на 80% */
    /* margin: 0 auto;             Ще ни центрира отстоянието */
}

nav li {                        /* list items */
    padding: 0 20px;              /* Задаваме някакво разстояне отляво и отдясно. */
    display: inline-block;      /* Подрежда ги в редица */
}

nav li a {
    color: white;             /* Цвят на буквите: бял */
    text-decoration: none;      /* Без текст декорация (подчертани букви в този случай) */
}